
<div style="height: 100%; width:100%; align-content: center; background-color: #ffffff; vertical-align: middle" align="center">

     <div style="height: 100%; width:100%; align-content: center" align="center">
         <div >
             <input type="text" style="width:80%;" placeholder="Username" ng-model="userName">
    </div>
    <div>
        <input type="password" style="width:80%;" placeholder="Password" ng-model="password">
    </div>
    <br>

    <button  type="submit" class="btn btn-warning" style="width:80%;"  ng-click="addPerson()">Log in</button>

    </div>
</div>

