
<div align="center">

    <div class="clearfix">
        <input type="text" placeholder="First Name" ng-bind="firstName">
    </div>
    <div class="clearfix">
        <input type="text" placeholder="Last Name" ng-bind="lastName">
    </div>
    <div class="clearfix">
        <input type="password" placeholder="Username" ng-bind="userName">
    </div>
    <div class="clearfix">
        <input type="text" placeholder="Description" ng-bind="description">
    </div>

    <button class="btn primary" type="submit" ng-click="addPerson()">Register</button>

    </div>
