
<div>

    <!--<div>-->
        <!--<input type="text" placeholder="First Name" ng-bind="firstName">-->
    <!--</div>-->
    <!--<div>-->
        <!--<input type="text" placeholder="Last Name" ng-bind="lastName">-->
    <!--</div>-->
    <div>
        <input type="text" placeholder="Username" ng-bind="userName">
    </div>
    <div>
        <input type="password" placeholder="Password" ng-bind="password">
    </div>


    <button  type="submit" class="btn btn-primary" ng-click="addPerson()">Log in</button>

    </div>
