<div style="height:100%; align-content: center;">
    <div class="panel panel-warning" style="align-content: center; width: 100%; height:100%">
        <div class="panel-heading"
             style="align-content: center; width: 100%;display: inline-block;"
                margin="10px">
            <button class="btn btn-warning" style="display: inline-block;" ng-click="go('/events')">Back</button>
            <h3 class="panel-title" align="center" style="display: inline-block;" width="80%">My Events</h3>
        </div>

        <div height="10px" width="100%">
              <br><br>
        </div>

        <div style="height:100%" margin="10px">
            <div ng-controller="MapCtrl" style="height:80%" align="center">
                
                <map id="map_canvas" marker="marker" style="height:100%; width:80%">
                    
                </map>
                

            </div>
        </div>
        
        
        <style>
            .map_style {
                height: 100%;
            }
        
        #map_canvas{
            width:80%;
            height:100%;
            border: 1px solid #333335;
            margin-bottom:20px;
        }
        </style>
        
        
       </div>
</div>